body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.card {
    background-color: #f2f2f2;
    text-align:center;
    padding:5px;
    margin-bottom:10px;
    padding-bottom: 15px;
    padding-top:15px;
    position:relative;
}

#menuheading{
    width:100%;
    height:60px;
    position:relative;
   
}
#heading {
    position: absolute;
    left: 30%;
    top: 15%;
    font-size: large;
    font-style: italic;
    color: #428bca;
}
#quickorder{
    position:absolute;
    right: 1.4%;
    top:25%;
 
}
#verifyorder {
    position: absolute;
    right: 10%;
    top: 25%;
  
}
#odheading{
 
    position:relative;
    height:50px;
}
#odheading p{
    position:absolute;
    font-size:x-large;
    left:45%;
    top:10%;
}
#confirmorder{
    position:absolute;
    right:0%;
    top:25%;
}
.navbar{
    background-color:white;
   
}
.card-title {
    color: #428bca;
}
.card-subtitle {
    color: #0000ff;
}
.card-img-top{
    width:100%;
    height:70%;

}
#login-wrapper {
    position:relative;
    margin-top: 20px;
    background-color: #eee !important;
    height: 500px;
}
#login-image {
    position: relative;
    background-color: red;
    margin-top: 0;
    margin-right: 0;
    float: right;
    height: 100%;
    width: 50%;
    background-image: url("/Content/Images/login-image.jpg");
}
#login-form-wrapper{
    position:relative;
    float:left;
    width:50%;
}
#login-form{
    position:relative;
    margin-top:25%;
    margin-left:25%;
}