@model IEnumerable <RestaurantAutomationProject.Models.Employee>
@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>
<table>
	<tr>
		<th>EmployeeID</th>
		<th>Name</th>
		
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>@item.EmployeeID</td>
			<td>@item.Name</td>
		</tr>

	}

</table>